<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
      <script src="jquery-3.4.1.min.js"></script>
      <script src="script.js"></script>
      <script src="style.css"></script>
      <title>StackOverflow IDE</title>
  </head>
  <body>

    <h2>Stack Overflow IDE</h2>
      <form>
        <div class="form-group form-control-sm row">
            <label class="mt-1 ml-2" for="query">Question:</label>
            <input class="form-control form-control-sm ml-2" type="text" placeholder="Enter question" style="width:25%">
            <label class="mt-1 ml-2" for="tags">Language:</label>
            <input class="form-control form-control-sm ml-2" type="text" placeholder="Enter language" style="width:25%">
            <button class="btn btn-primary btn-sm ml-2">Search</button>
        </div>
      </form>
      <hr>

      <!-- display results -->
      <div id="container">
          <div id="questionsContainer"></div>
      </div>

      <script id="questionsTemplate" type="text/x-handlebars-template">
        <!-- loop through questions -->
          {{#each questions}}
            <div class="questionTitle ml-2 mt-2">
                <b>Question: {{@index}}</b>&ensp;{{title}}
                <div class="scoreView">
                    score: {{score}}  views: {{view_count}}
                </div>
            </div>
          <hr>
          {{/each}}
      </script>
      
  </body>
  </html>